/* Add your common CSS styles here */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.main {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    text-align: center;
}

.right-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 70px;
    height: 100%;
    background-color: #f1f1f1;
    z-index: 1;
}

.right-bar a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 70px;
}

.right-bar a:last-child {
    border-bottom: none;
}

.right-bar a:hover {
    background-color: #ddd;
}

.right-bar img {
    width: 100%;
    height: auto;
}

.right-bar span {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 12px;
}
