<!DOCTYPE html>
<html>
  <head>
    <title>My Account</title>
    <img src="../static/images/CompanyLogoLong.png" width="1500" height= "500" alt="My Coffee Shop Logo" class="banner">
    <link rel="stylesheet" href="../static/css/account.css">
  </head>
  <body>
    <h1>My Account</h1>
    <div class="account-details">
      <p><strong>Name:</strong> John Doe</p>
      <p><strong>Email:</strong> john.doe@example.com</p>
      <p><strong>Address:</strong> 123 Main St, Anytown USA</p>
      <p><strong>Phone:</strong> 555-555-1212</p>
    </div>
  </body>
</html>