{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>Contact Us - Great Pouring Tastes Coffee Shop</title>
    <img src="../static/images/CompanyLogoLong.png" width="1500" height= "500" alt="My Coffee Shop Logo" class="banner">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact.css') }}">
  </head>
  
  <body>
    <h1>Contact Us</h1>
    <div class="container">
      <form action="submit-form.php" method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Your name.." required>

        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Your email.." required>

        <label for="message">Message</label>
        <textarea id="message" name="message" placeholder="Write something.." style="height:200px" required></textarea>

        <input type="submit" value="Submit">
      </form>
      
    </div>  
  </body>
{% endblock %}
