{% extends "base.html" %}

{% block content %}
<div class="main">
    <img src="{{ url_for('static', filename='images/CompanyLogoLong.png') }}" alt="Logo for the Company" width="100%" height="10%" />
    <h1>Welcome to our coffee shop</h1>
    <form action="/order" method="post">
        <label for="customer_name">Your Name:</label>
        <input type="text" id="customer_name" name="customer_name" required>
        <br><br>
        {% for item, price in menu.items() %}
            <div>
                <label>
                    <input type="checkbox" name="item" value="{{ item }}">
                    {{ item }} - ${{ price }}
                </label>
            </div>
        {% endfor %}
        <button type="submit">Order Now</button>
    </form>
    <form action="/dashboard" method="get">
        <button type="submit">View Orders</button>
    </form>
</div>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
