<!DOCTYPE html>
<html>
	<head>
		<title>Order Confirmation</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/order.css')}}">
	</head>
	<body>
		<div class="leftsidenav">
			<a href="#about">About</a>
			<a href="#menu">Menu</a>
			<a href="#orderahead">Order Ahead</a>
			<a href="#contact">Contact</a>
		</div>
		<div class="rightsidenav">
			<a href="#user">User</a>
			<a href="#cart">Cart</a>
		</div>

		<div class="main">
		<img src="{{ url_for('static', filename='images/CompanyLogoLong.png') }}", alt="Logo for the Company",  width="100%", height="10%" />
		<h1>Your Order:</h1>
		<ul>
			{% for item in items %}
				<li>{{ item.name }} - ${{ item.price }}</li>
			{% endfor %}
		</ul>
		<p>Total: ${{ total }}</p>
		<p>Thank you for ordering from our coffee shop!</p>
		</div>

		<div class="bottombar">

		</div>

		<div class="toplogo">

		</div>
	</body>
</html>